
html
    head
        include ./head.pug
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
        link(href='/css/404.css' rel='stylesheet' type='text/css')


    body


        include ./menu.pug
        main
            p.mega
                | 4
                span.boom O
                | 4
                .bola


        script(src="/js/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r58/three.min.js")
        script(src="/js/404.js")

        include ./footer.pug
