doctype html
html
    head
        title About
        include ./head.pug
    body
        include ./menu.pug
        
        main             
            .container
                .row
                    h2.white-text.col.s12 About

                    h4.center.col.s12 
                        | Made with
                        br
                        i.material-icons.red-text.large favorite
                        br
                        a(href="http://ghrce.raisoni.net") G. H. Raisoni College of Engineering
                        br
                        | Nagpur
               
                .row
                    h5.center.col.s12.light
                        | Made by
                        a(href='http://github.com/krushndayshmookh') Krushn Dayshmookh
                        br
                        | Logo designed by Santwana Thakur


        include ./footer.pug
