.collection
    a.collection-item(href='/dashboard') Dashboard
    //- a.collection-item(href='/dashboard/products') Manage Products
    //- a.collection-item(href='/dashboard/projects') Manage Projects
    a.collection-item(href='/complaints/all') All enquiries
    //- a.collection-item(href='/dashboard/help') Help and Support
    //- a.collection-item.red-text(href='/logout') Log out

.collection
    a.collection-item.red-text(href='javascript:deleteAll();') Delete all
    