html
    head
        
        include ./head.pug
        title Contact
        
    body

        include ./menu.pug
        
        main                
            .container
                .row
                    h2.white-text.col.s12 Get In Touch

                    h4.center.col.s12 krushndayshmookh@gmail.com
                                    

        

        include ./footer.pug


