//- These are the fonts, styles and scripts that are to be included in every page.

//- Meta

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

meta(name='viewport', content='width=device-width, initial-scale=1')

//- favicon
link(rel="icon", href="/favicon.ico", type="image/x-icon")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")


//- Fonts

link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')

//- link(rel='stylesheet', href='/css/svgicons.css')

// Styles

link(type="text/css", rel="stylesheet", href="/css/materialize.min.css")

//- link(type="text/css", rel="stylesheet", href="/css/aos.css")

link(type="text/css", rel="stylesheet", href="/css/style.css")

//- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')


//- Scripts have been added to footer
